$main: #093CB5
$white: #fff
$black: #000    
$grey: rgba(251, 251, 251, 0.45)
$dark: rgba(0, 0, 0, 0.65)
$orange: #FF7474

* 
    box-sizing: border-box    

body 
    font-family: 'Inter', sans-serif

.container 
    max-width: 1700px
    width: 96%
    margin: auto


.header 
    padding-top: 80px 
    &-wrap 
        display: flex
        justify-content: space-between
        align-items: center
    &-left, &-right 
        width: 50%
    &-left 
        display: flex
        justify-content: space-between
    &-right 
        display: flex
        justify-content: flex-end
    &-menu 
        cursor: pointer
        &__button
            background-color: $main
            padding: 15px 25px 
            border-radius: 50px
            display: flex
            align-items: center
            span 
                font-size: 30px 
                color: $white
                margin-left: 10px
    &-icons 
        position: relative
        z-index: 99
        img 
            margin-left: 20px
            cursor: pointer

.offer 
    padding-bottom: 240px
    &-wrap 
        display: flex
        justify-content: space-between
    &-left
        width: 40%
    &-right 
        width: 60%
    &-header 
        font-size: 128px 
        letter-spacing: -3px
        color: $black
        font-weight: 700
        margin-bottom: 60px
    &-desc 
        font-size: 22px
        line-height: 30px 
        color: $black
        margin-bottom: 100px
    &-buttons 
        display: flex
        a 
            padding: 30px 60px
            border-radius: 50px
            text-decoration: none
            border: 3px solid $main
            width: 300px
            text-align: center
            margin-right: 30px
            transition: .2s
        a.btn-blue
            background-color: $main
            color: $white 
            &:hover
                background-color: transparent
                color: $main
        a.btn-white
            color: $main 
            border: 3px solid transparent
            position: relative
            &::before
                content: ""
                background-image: url("../img/CallMe.svg")
                width: 30px 
                height: 30px
                display: block
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: 55px
            &:hover 
                border: 3px solid $main
    &-image 
        img 
            width: 100%
            margin-top: -150px

.why 
    &-header 
        font-size: 96px 
        line-height: 100px
        color: $white
        letter-spacing: -2px
        margin-bottom: 150px
    &-wrap 
        background-image: url("../img/why-bg2.png")
        background-repeat: no-repeat
        border-radius: 100px
        padding: 80px 100px
        background-size: cover
        background-position: center center
    &-items 
        display: flex
        justify-content: space-between
    &-item 
        width: 30%
        img 
            margin-bottom: 25px
        p
            color: $white
            font-weight: 700
            font-size: 36px
            line-height: 40px
            span 
                color: $grey


.scooters
    padding: 250px 0
    &-headwrap
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 130px
    &-arrows
        display: flex
        > div  
            background: rgba(0, 0, 0, 0.03)
            width: 33px 
            height: 33px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 10px
            margin-left: 20px
            cursor: pointer
    &-header 
        font-size: 96px
        line-height: 100px
        letter-spacing: -2px
        font-weight: 700
        margin-top: 0
        margin-bottom: 0
    &-slider
        // display: flex
        // justify-content: space-between
    &-item 
        width: 48%
        display: flex !important
        justify-content: space-between
        padding: 60px 60px 0
        background: #FBFBFB
        border: 1px solid rgba(0, 0, 0, 0.03)
        box-shadow: 0px 25px 15px rgba(155, 161, 167, 0.1997)
        border-radius: 40px
    &-left 
        width: 45%
    &-right 
        width: 55%
        display: flex
        justify-content: flex-end
        position: relative
    &-text
        font-size: 36px
        line-height: 40px
        color: $black
        font-weight: 700
        margin-bottom: 30px
        margin-top: 0
    &-desc
        font-size: 22px 
        line-height: 30px
        color: $dark
        margin-bottom: 50px
    &-btn 
        background-color: $main
        color: $white
        padding: 20px
        display: inline-block
        border-radius: 30px
        width: 220px
        cursor: pointer
        &__label 
            display: flex
            align-items: center
            margin-bottom: 15px
            img 
                margin-right: 10px
            span 
                font-size: 18px
                line-height: 26px
        strong 
            font-weight: 700
            font-size: 36px 
            line-height: 40px
    &-label 
        position: absolute
        top: 0px 
        right: 0px
        color: $white 
        font-size: 22px 
        line-height: 30px
        font-weight: 700
        padding: 16px
        background-color: $orange
        box-shadow: 0px 100px 80px rgba(155, 161, 167, 0.07), 0px 41.7776px 33.4221px rgba(155, 161, 167, 0.0503198), 0px 22.3363px 17.869px rgba(155, 161, 167, 0.0417275), 0px 12.5216px 10.0172px rgba(155, 161, 167, 0.035), 0px 6.6501px 5.32008px rgba(155, 161, 167, 0.0282725), 0px 2.76726px 2.21381px rgba(155, 161, 167, 0.0196802)
        border-radius: 20px
    &-image 
        img 
            margin-top: -50px


.slick-slide 
    margin: 0 15px 50px

.slick-list 
    margin: 0 -15px


.reviews
    &-info
        width: 40%
    &-header
        font-weight: 700
        font-size: 96px
        line-height: 100px
        letter-spacing: -2px
        margin-bottom: 380px
        color: $black
        margin-top: 90px
    &-model
        font-size: 22px
        line-height: 30px
        color: rgba(0, 0, 0, 0.65)
    &-desc
        font-weight: 700
        font-size: 36px
        line-height: 40px
        color: $black
    &-block 
        display: flex
    &-right 
        width: 60%
    &-slider

    &-item
    &-wrap
        display: flex
        // align-items: center
        justify-content: space-between
    &-image
        img 
    &-text
        margin-left: 85px
        p 
            font-weight: 700
            font-size: 36px
            line-height: 40px
            color: rgba(0, 0, 0, 0.45)
            margin-top: 110px
            margin-bottom: 70px
            span 
                color: $black
                font-weight: 700
                font-size: 36px
                line-height: 40px
        span 
            font-size: 22px
            line-height: 30px
            color: #000000
    &-arrows
        display: flex
        margin-bottom: 250px
        > div  
            background: rgba(0, 0, 0, 0.03)
            width: 33px 
            height: 33px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 10px
            margin-right: 20px
            cursor: pointer


.footer 
    background: #F6F6F6
    padding: 80px 0
    &-blocks
        display: flex
        justify-content: space-between
    &-copy
        width: 33%
    &-pages
        width: 25%
        h4
            font-size: 22px
            line-height: 30px
            font-weight: 700
            margin-bottom: 30px
            margin-top: 0
        a 
            color: rgba(0, 0, 0, 0.65)
            font-size: 22px
            line-height: 30px
            text-decoration: none
            display: block
            margin-bottom: 15px
    &-link 
        margin-top: 55px
        color: rgba(0, 0, 0, 0.35) !important
    &-media 
        width: 17%
    &-logo 
        margin-bottom: 175px
        margin-top: 20px
    &-mini 
        color: $black
        font-size: 22px
        line-height: 30px
        opacity: 0.35
    &-email 
        margin-bottom: 25px
        a 
            font-weight: 700
            font-size: 22px
            line-height: 30px
            color: $black
            text-decoration: none
    &-socials
        display: flex
        align-items: center
        a 
            margin-right: 25px
            display: flex
            align-items: center